{% extends "base.html" %}
{% load url from future %}
{% load i18n %}


{% block content %}
	<form method="post" action="{% url 'django.contrib.auth.views.login' %}?next={{ next }}" class="form-horizontal">
		{% csrf_token %}
		<fieldset>
			<legend>Login</legend>
			{% for field in form %}
				{% include "_form_field.html" %}
			{% endfor %}
		</fieldset>
		<div class="form-actions">
			<input type="submit" value="{% trans 'Log in' %}" class="submit default btn btn-primary">
		</div>
	</form>
{% endblock %}