{% extends "base.html" %}
{% load i18n %}
{% load auto_thumbnail %}
{% load sekizai_tags %}

{% block title %}{{ student }}{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="page-header">
			<h1>{{ student.person }}
				{% if perms.students.change_student %}
					<a href="edit/" class="btn" style="float:right"><i class="icon-edit"></i> {% trans "Edit" %}</a>
				{% endif %}
			</h1>
		</div>

	<div class="row-fluid">
		<div class="span4">
			<!-- photo -->
			<div class="thumbnail">
				{% if student.person.photo %}
					<img src="{{ student.person.photo|thumbnail:"256w" }}" alt="Photo of {{ student.person.first_name }} {{ student.person.last_name }}">
				{% else %}
					<img src="{{ STATIC_URL }}img/missing.png" alt="Photo missing" style="width:256px">
				{% endif %}
			</div>

			<!-- location -->
			<dl class="dl-horizontal">
				{% if student.person.email %}
					<dt>{% trans 'Email' %}</dt>
					<dd><a href="mailto:{{ person.email }}">{{ student.person.email }}</a></dd>
				{% endif %}

				{% if student.person.phone %}
					<dt>{% trans 'Phone' %}</dt>
					<dd>{{ student.person.phone }}</dd>
				{% endif %}

				{% if student.person.residence.phone %}
					<dt>{% trans 'Home' %}</dt>
					<dd>{{ student.person.residence.phone }}</dd>
				{% endif %}

				<!-- gender -->
				<dt>{% trans "Gender" %}</dt>
				<dd>{{ student.person.get_gender_display }}</dd>

				<!-- birthday -->
				<dt>{% trans "Date of birth" %}</dt>
				<dd>{{ student.person.birth_date }}</dd>

				<!-- ethnicity -->
				{% with ethnicity_list=student.person.ethnicity.all %}
					{% if ethnicity_list %}
						<dt>{% trans "Ethnicity" %}</dt>
						{% for ethnicity in ethnicity_list %}
							<dd>{{ ethnicity }}</dd>
						{% endfor %}
					{% endif %}
				{% endwith %}

				<!-- iwi -->
				{% with iwi_list=student.person.iwi.all %}
					{% if iwi_list %}
						<dt>{% trans "Iwi" %}</dt>
						{% for iwi in iwi_list %}
							<dd>{{ iwi }}</dd>
						{% endfor %}
					{% endif %}
				{% endwith %}

				<!-- citizenship -->
				<dt>{% trans "Citizenship" %}</dt>
				<dd>{{ student.person.citizenship }}</dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Ministry ID</dt>
				<dd>{{ student.ministry_id }}</dd>
				<dt>ORS</dt>
				<dd>{% if student.ors %}{{ student.get_ors_display }}{% else %}-{% endif %}</dd>
				<dt>{% trans "Funding Year Level" %}</dt>
				<dd>{{ student.funding_year_level }}</dd>
				<dt>{% trans "Student Type" %}</dt>
				<dd>{{ student.student_type }}</dd>
				<dt>{% trans "Zoning Status" %}</dt>
				<dd>{{ student.zoning_status }}</dd>
				<dt>{% trans "Tuition Fee" %}</dt>
				<dd>{{ student.tuition_fee }}</dd>
				<dt>{% trans "Exchange Scheme" %}</dt>
				<dd>{{ student.exchange_scheme }}</dd>
				<dt>{% trans "Boarding Status" %}</dt>
				<dd>{{ student.boarding_status }}</dd>
				<dt>{% trans "Eligibility Criteria" %}</dt>
				<dd>{{ student.eligibility_criteria }}</dd>
				<dt>{% trans "Year Level" %}</dt>
				<dd>{{ student.year_level }}</dd>
			</dl>
		</div>

		<div class="span8">
			<div id="calendar" class="span12"></div>
{% include "_calendar.html" %}
{% addtoblock "js_ready" %}
	today = new Date();

	monday = new Date(
		today.setDate(
			today.getDate() - (today.getDay() - 1)
		)
	);

	var d = monday.getDate();
	var m = monday.getMonth();
	var y = monday.getFullYear();

	var options = plugin_options.calendar;

	$('#calendar').fullCalendar(
		$.extend(
			options,
			{
				defaultView: "agendaWeek",
				theme: true,
				events: [
					{
						id: 1,
						title: "Admin/Roll/Notices",
						start: new Date(y, m, d, 8, 55),
						end: new Date(y, m, d, 9),
						allDay: false
					},
					{
						title: "Reading - The Lorax",
						start: new Date(y, m, d, 9),
						end: new Date(y, m, d, 10, 10),
						allDay: false
					},
					{
						id: 999,
						title: "Fitness / Snack Break",
						start: new Date(y, m, d, 10, 10),
						end: new Date(y, m, d, 10, 25),
						allDay: false
					},
					{
						title: "Maths - Multiplication",
						start: new Date(y, m, d, 10, 25),
						end: new Date(y, m, d, 11, 25),
						allDay: false
					},
					{
						title: "Lunch Break",
						start: new Date(y, m, d, 11, 25),
						end: new Date(y, m, d, 11, 50),
						allDay: false
					},
					{
						title: "Spelling",
						start: new Date(y, m, d, 11, 50),
						//end: new Date(y, m, d, 11, 50),
						allDay: false
					},
					{
						id: 999,
						title: "Fitness / Snack Break",
						start: new Date(y, m, d+1, 10, 10),
						end: new Date(y, m, d+1, 10, 25),
						allDay: false
					},

				/*
					{
						title: 'All Day Event',
						start: new Date(y, m, d)
					},
					{
						title: 'Long Event',
						start: new Date(y, m, d-5),
						end: new Date(y, m, d-2)
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d-3, 16, 0),
						allDay: false
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d+4, 16, 0),
						allDay: false
					},
					{
						title: 'Meeting',
						start: new Date(y, m, d, 10, 30),
						allDay: false
					},
					{
						title: 'Lunch',
						start: new Date(y, m, d, 12, 0),
						end: new Date(y, m, d, 14, 0),
						allDay: false
					},
					{
						title: 'Birthday Party',
						start: new Date(y, m, d+1, 19, 0),
						end: new Date(y, m, d+1, 22, 30),
						allDay: false
					},
					{
						title: 'Click for Google',
						start: new Date(y, m, 28),
						end: new Date(y, m, 29),
						url: 'http://google.com/'
					}
				*/
				]
			}
		)
	);
{% endaddtoblock %}
		</div>
	</div>
{% endblock %}
