body {
	padding-bottom: 40px;
}
.dl-horizontal dt {
	width: 180px;
}
.dl-horizontal dd {
	margin-left: 190px;
}
h1 {
	margin-top: 0;
}
/*
table thead {
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
}
*/