{% extends "base.html" %}
{% load i18n %}


{% block title %}{% if object.id %}Edit a{% else %}Add a new{% endif %} {% trans "person" %}{% endblock %}


{% block content %}
	{% if error_message %}<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a>{{ error_message }}</div>{% endif %}

	<h2>{% if object.id %}Edit a{% else %}Add a new{% endif %} person</h2>

	<form enctype="multipart/form-data" action="" method="POST" class="form-horizontal">
		{% csrf_token %}
		{{ form.non_field.errors }}

		<fieldset>
			<legend>{% trans "Personal Details" %}</legend>
			{% for field in form %}
				{% include "_form_field.html" %}
			{% endfor %}
		</fieldset>

		<fieldset>
			<legend>{% trans "Residence" %}</legend>
			{% for form in location_formset %}
				{% for field in form %}
					{% include "_form_field.html" %}
				{% endfor %}
			{% endfor %}
		</fieldset>

		<fieldset>
			<legend>{% trans "Related People" %}</legend>
			{{ relationship_formset.management_form }}
			{% for form in relationship_formset %}
				<fieldset>
					{% for field in form %}
						{% include "_form_field.html" %}
					{% endfor %}
				</fieldset>
			{% endfor %}
		</fieldset>

		<div class="form-actions">
			<input type="submit" value="{% trans 'Save' %}" name="_save" class="default btn btn-primary">
			<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" class="btn">
		</div>
	</form>
{% endblock %}
