<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
	<head>
		<title>Kapua - School Information Systems</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<link rel="icon" href="{{ STATIC_URL }}icon.png">
		<link rel="apple-touch-icon" href="{{ STATIC_URL }}icon.png">

		<link rel="stylesheet" href="{{ STATIC_URL }}styles/default/index.css">
	</head>
	<body>
		<div id="launchpad">
			<h1>Kapua</h1>
			<ul>
				<li><a href="/admin/"><img src="{{ STATIC_URL }}styles/default/images/admin.svg"><br>Admin</a></li>
				<li><a href="/courses/"><img src="{{ STATIC_URL }}styles/default/images/courses.svg"><br>Courses</a></li>
				<li><a href="/people/"><img src="{{ STATIC_URL }}styles/default/images/people.svg"><br>People</a></li>
			</ul>
	</div>
	</body>
</html>
