{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "courses" %}{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="span10">
			<h1>
				{% trans "Courses" %}
			</h1>
		</div>
		<div class="span2">
			{% if perms.courses.add_course %}
				<a href="./add/" class="btn btn-block">
					<i class="icon-plus-sign"></i>
					{% trans "Add course" %}
				</a>
			{% endif %}
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>{% trans "Subject" %}</th>
				<th>{% trans "Name" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for course in object_list %}
			<tr>
				<td>{{ course.subject }}</td>
				<td><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
