{% extends "courses/detail.html" %}
{% load i18n %}
{% load mptt_tags %}
{% load theme_tags %}

{% block title %}{{ course.name }}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url 'kapua_course_list' %}">{% trans "Courses" %}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			{{ course.name }}
		</li>
	</ul>
{% endblock %}

{% block page_content %}
	<h1>{{ course.name }}</h1>

	<h2>{{ page.name }}</h2>

	{{ page.content|clean|safe }}
{% endblock %}
