{% extends "courses/detail.html" %}
{% load mptt_tags %}
{% load i18n %}
{% load theme_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url 'kapua_course_list' %}">{% trans "Courses" %}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="{% url 'kapua_course_detail' page.course_id %}">{{ page.course.name }}</a>
			<span class="divider">/</span>
		</li>
		{% for node in breadcrumbs %}
			<li>
				<a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
				<span class="divider">/</span>
			</li>
		{% endfor %}
		<li class="active">{{ page.name }}</li>
	</ul>
{% endblock %}

{% block page_content %}
	<h1>{{ course.name }}</h1>

	<h2>{{ page.name }}</h2>

	{{ page.content|clean|safe }}
{% endblock page_content %}