{% extends "base.html" %}
{% load attachments_tags %}
{% load i18n %}
{% load theme_tags %}


{% block title %}
	{% if page.id %}
		{% trans "Editing" %} {{ page.name }}
	{% else %}
		{% trans "Adding a new page"%}
	{% endif %}
{% endblock %}


{% block head_extras %}{% endblock %}


{% block content %}
	{% if error_message %}<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a>{{ error_message }}</div>{% endif %}

	<form action="." method="POST" class="form-horizontal">
		{% csrf_token %}
		{{ form.non_field.errors }}

		<fieldset>
			<legend>
				{% if page.id %}
					{% trans "Editing" %} <q>{{ page.name }}</q>
				{% else %}
					{% trans "Adding a new page"%}
				{% endif %}
			</legend>
			{% include "_form_field.html" with field=form.name %}
			{% include "_wymeditor.html" with field=form.content %}
		</fieldset>

		<fieldset>
			<legend>{% trans "Insert page" %}</legend>
			{% include "_form_field.html" with field=form.position %}
			{% include "_form_field.html" with field=form.target %}
		</fieldset>

		<div class="form-actions">
			<input type="submit" value="{% trans 'Save' %}" name="_save" class="submit default wymupdate btn btn-primary">
		</div>
	</form>
{% endblock %}
