{% extends "base.html" %}
{% load i18n %}


{% block title %}{% if object.id %}Edit a{% else %}Add a new{% endif %} {% trans "Student" %}{% endblock %}


{% block content %}
	{% if error_message %}<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a>{{ error_message }}</div>{% endif %}


	<h2>{% if object.id %}Edit a{% else %}Add a new{% endif %} Location</h2>

	<form action="" method="POST" class="form-horizontal">
		{% csrf_token %}

		{{ form }}
		
		{{ formset.non_field.errors }}
		{{ formset.management_form }}

		<fieldset>
			<legend>{% trans "Location" %}</legend>
			{% for form in formset %}
				{% for field in form %}
					{% include "_form_field.html" %}
				{% endfor %}
			{% endfor %}
		</fieldset>

		<div class="form-actions">
			<input type="submit" value="{% trans "Save" %}" name="_save" class="default btn btn-primary">
		</div>
	</form>
{% endblock %}
